<header>
  <%if session[:user_id]%>
    <a href='/signout'>Sign Out</a>
  <% else %>
    <a href='/login'>Log In</a>
  <% end %>
</header>

<h1>Hello MakersBnB!</h1>

<h3>Spaces</h3>

<form action='/spaces/new'>
  <input type='submit' value='List New Space'>
</form>

<ul id="spaces">
  <% @spaces.each do |space| %>
    <li>
      Title: <%= space.title %><br />
      Description: <%= space.description %></br>
      Price per Night: <%= space.price %></br>
    </li>
  <% end %>
</ul>
