<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
  </head>

  <body style="text-align:center;">

    <h1>Create a New Listing</h1>

    <form action='/spaces' method='post'>
      <label for='title'>
        Title: <input name='title' type='text'>
      </label><br />
      <label for='description'>
        Description: <textarea cols="50" rows="4" name='description'></textarea>
      </label><br />
      <label for='price'>
        Price per Night: <input name='price' type='number'>
      </label><br />
      <input type='submit' value='Create Listing'>
    </form>

  </body>
</html>
