<h1 class="text-center">Feel at home, anywhere</h1>

<h4 class="text-center">We are better than any of our competitors, because we belive in Capybara GOD, and it saves us from everything bad.</h4>

<h3 class="text-center">Sign up to CapyBnB (if you haven't done it yet)</h3>

<div class="form_box text-center">
  <form action="/signup" method="post">
    <label>
      Email:<br>
      <input name="email" type="email" required>
    </label>
    <br>
    <label>
      Password:<br>
      <input name="password" type="password" required>
    </label>
    <br>
    <label>
      Confirm Password:<br>
      <input name="password_confirmation" type="password" required>
    </label>
    <br>
    <input type="submit" value="Sign Up">
  </form>
</div>
