<!DOCTYPE html>
 <html>
   <head>
    <title>CapyBnB</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
   </head>
    <body>

      <header>

        <img class='logo' src='https://cabinetm-beta.s3.amazonaws.com/00000151-f024-81f9-2162-aa79b005069f.png'>


        <% if current_user %>
          <ul class='menu'>
            <li class='menu_item'><a href='/spaces'>Spaces</a></li>
            <li class='menu_item'><a href='/users/requests'>Requests</a></li>
            <li class='menu_item'><a href='/signout'>Sign Out</a></li>
          </ul>

          <h3 class='hello'>Hello, <%= current_user.email %>!</h3>

          <% else %>
          <ul class='menu'>
            <li class='menu_item'><a href='/about'>About</a></li>
            <li class='menu_item'><a href='/users/login'>Log In</a></li>
          </ul>
          <% end %>

        </header>

      <% if flash[:notice] %>
        <div id='notice'>
        <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:errors] %>
        <div id='error'><%= flash[:errors] %></div>
      <% end %>

      <%= yield %>
   </body>
 </html>
