<!DOCTYPE html>
 <html>
   <head>
    <title>MakersBnB</title>
   </head>
    <body>

      <% if current_user %>
      <header>
        <a href='/spaces'>Spaces</a>
        <a href='/users/requests'>Requests</a>
        <a href='/signout'>Sign Out</a>
      </header>

      <h3><%= current_user.email %></h3>

      <% else %>
      <header>
        <a href='/about'>About</a>
        <a href='/users/login'>Log In</a>
      </header>

      <% end %>

      <% if flash[:notice] %>
        <div id='notice'>
        <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:errors] %>
        <div id='error'><%= flash[:errors] %></div>
      <% end %>

      <%= yield %>
   </body>
 </html>
