<header>
  <a href= '/'>Sign Up</a>
</header>

<form action='/login' method='post'>
  <label>
    Email:
    <input name='email' type='email' required>
  </label>
  <label>
    Password:
    <input name='password' type='password' required>
  </label>
  <input type='submit' value='Log In'>
</form>
