<H1> Your booking request has been submitted!</h1>

<h2> Your host will be in touch shortly</h2>

<p> Your request: </p>

  <p> <%= @space.title %> </p>
  <p> <%= @space.description %> </p>

  <p> <%= @booking.status %> </p>
